.application {
  background: url(../img/bg-application.png);
  padding-top: 44px;
  padding-bottom: 39px;
}
.section-heading {
  font-family: 'Meta Serif';
  font-weight: 500;
  font-size: remy(30px);
  line-height: 24px;
}
.form-application {
  background: url(../img/bg-form.png) no-repeat;
  background-position: center;
  z-index: 10;
  height: 644px;
  width: 644px;
  margin-top: 22px;
  margin-bottom: 39px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
