.application {
  background: url(../img/bg-application.png);
  padding-top: 44px;
  padding-bottom: 39px;
}
.section-heading {
  font-family: 'Meta Serif';
  font-weight: 500;
  font-size: remy(30px);
  line-height: 24px;
}
