@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black_0.ttf') format('truetype');
       font-weight: 900;
       font-style: normal;
}
@font-face {
  font-family: 'MetaSerif';
  src: url('../fonts/MetaSerifPro-Black.otf') format('opentype');
       font-weight: 900;
       font-style: normal;
}
@font-face {
  font-family: 'MetaSerif';
  src: url('../fonts/MetaSerifPro-Bold.otf') format('opentype');
       font-weight: 700;
       font-style: normal;
}
@font-face {
  font-family: 'MetaSerif';
  src: url('../fonts/MetaSerifPro-Book.otf') format('opentype');
       font-weight: 500;
       font-style: normal;
}
@font-face {
  font-family: 'MetaSerif';
  src: url('../fonts/MetaSerifPro-Medi.otf') format('opentype');
       font-weight: 600;
       font-style: normal;
}
@font-face {
  font-family: 'DIN Pro Bold';
  src: url('../fonts/DINPro-Bold.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}
@font-face {
  font-family: 'DIN Pro Regular';
  src: url('../fonts/DINPro-CondensedRegular.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}
@font-face {
  font-family: 'DIN Pro Medium';
  src: url('../fonts/DINPro-Medium.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}

.green {
  color: $green;
}
.bold {
  font-weight: 700;
}
.text-bold {
  font-weight: 600;
}
.white {
  color: #f6f9fb;
}
.btn.btn-violet {
  font-family: 'DIN Pro Bold';
  color: #f5efef;
  font-size: remy(22px);
  font-weight: 700;
  line-height: remy(13px);
  padding: 21px 51px;
  background: linear-gradient(to top, #553ac4 0%, #553ac4 50%, #957fef 100%);
  border-radius: 29px;
  border: 0;
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.19);
  &:hover {
    color: #f5efef;
    background: linear-gradient(to top, #3f1fc5 0%, #3f1fc5 50%, #957fef 100%);
    outline: none;
  }
  &:focus,
  &:active {
    background-color: #17055e;
    outline: none;
  }
}
.heading-bold {
  font-family: 'Montserrat';
  font-size: remy(85px);
  text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.7);
  opacity: 0.88;
  line-height: 62px;
  @media (max-width: 320px) {
    font-size: remy(22px);
    text-shadow: none;
    line-height: 15px;
  }
}
.form-input {
  border: 2px solid #fff;
  border-radius: 34px;
}
