@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black_0.ttf') format('truetype');
       font-weight: 900;
       font-style: normal;
}
@font-face {
  font-family: 'MetaSerif';
  src: url('../fonts/MetaSerifPro-Black.otf') format('opentype');
       font-weight: 900;
       font-style: normal;
}
@font-face {
  font-family: 'MetaSerif';
  src: url('../fonts/MetaSerifPro-Bold.otf') format('opentype');
       font-weight: 700;
       font-style: normal;
}
@font-face {
  font-family: 'MetaSerif';
  src: url('../fonts/MetaSerifPro-Book.otf') format('opentype');
       font-weight: 500;
       font-style: normal;
}
@font-face {
  font-family: 'MetaSerif';
  src: url('../fonts/MetaSerifPro-Medi.otf') format('opentype');
       font-weight: 600;
       font-style: normal;
}
@font-face {
  font-family: 'DIN Pro Bold';
  src: url('../fonts/DINPro-Bold.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}
@font-face {
  font-family: 'DIN Pro Regular';
  src: url('../fonts/DINPro-CondensedRegular.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}
@font-face {
  font-family: 'DIN Pro Medium';
  src: url('../fonts/DINPro-Medium.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}

.green {
  color: $green;
}
.btn.btn-violet {
  color: #f5efef;
  font-size: remy(22px);
  font-weight: 700;
  line-height: remy(13px);
  padding: 21px 52px 22px 52px;
  background: linear-gradient(to top, #553ac4 0%, #553ac4 50%, #957fef 100%);
  border-radius: 29px;
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.19);
}
.heading-bold {
  font-family: 'Montserrat';
  font-size: remy(85px);
  text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.7);
  opacity: 0.88;
}
