.benefits {
  background-image: linear-gradient(to top, rgba(0,151,118,.11) 0%, rgba(85,58,196,.11) 100%);
  padding-top: 150px;
  padding-bottom: 142px;
}
.benefits-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits-card {
  background-color: #fff;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.33);
  padding: 44px 64px 26px 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  height: 243px;
  margin: 76px 15px 20px 15px;
}
.benefits-text {
  margin-top: 21px;
}
.benefits-title {
  font-family: 'Meta Serif';
  font-weight: 500;
  font-size: remy(40px);
  line-height: 46px;
  margin-top: 120px;
  margin-bottom: 40px;
}
.benefits-description {
  margin-bottom: 30px;
}
.text {
  font-family: 'Meta Serif';
  font-weight: 500;
  font-size: remy(26px);
  line-height: 24px;
  color: #0d0e0e;
}
.text-bold {
  font-weight: 600;
}
.icon {
  margin-right: 30px;
}
