.header {
  background: url(../img/bg.png) bottom center/cover no-repeat;
  background-size: auto;
  color: #f0f4f6;
  height: 790px;
}
.header-top {
  padding-top: 11px;
  margin-bottom: 10px;
}
.header-info {
  font-family: 'DIN Pro Regular';
  font-size: remy(22px);
  font-weight: 400;
  line-height: remy(21px);
  letter-spacing: 2.8px;
  @media (max-width: 480px) {
    font-size: remy(12px);
  }
  @media (max-width: 320px) {
    font-size: remy(10px);
    width: 33%;
  }
}
.header-info-block {
  display: flex;
  @media (max-width: 320px) {
    flex-direction: column;
    position: absolute;
    top: 0;
    align-items: flex-end;
    width: inherit;
  }
}
.info-bold {
  font-family: 'DIN Pro Medium';
  color: #eef5f8;
  font-weight: 700;
  margin-top: 14px;
  line-height: remy(20px);
  letter-spacing: 0;
  @media (max-width: 320px) {
    margin-top: 0;
  }
}
.header-logo {
  @media (max-width: 320px) {
    position: absolute !important;
    top: 6px;
    left: 35%;
  }
}
.logo img {
  width: 151px;
  height: 93px;
  @media (max-width: 320px) {
    width: 80px;
    height: 49px;
  }
}
.header-navbar {
  background-color: $green;
}
.navbar-nav {
  width: 100% !important;
}
.nav-link {
  font-family: 'DIN Pro Medium';
  color: #f0f7fb;
  font-size: remy(20px);
  font-weight: 500;
  line-height: remy(20px);
  &:hover {
    color: #f0f7fb !important;
    text-decoration: underline !important;
  }
}
.navbar-toggler-icon {
  background-color: #dadbdd;
}
.header-hero {
  height: calc(100% - 191px);
  padding-top: 100px;
  padding-bottom: 44px;
}
.hero-subtitle {
  margin-left: 90px !important;
}
.header-title {
  font-family: 'Meta Serif';
  font-size: remy(60px);
  font-weight: 900;
  color: #eef4f7;
  line-height: 55px;
  @media (max-width: 992px) {
    font-size: remy(50px);
  }
  @media (max-width: 768px) {
    font-size: remy(32px);
  }
  @media (max-width: 480px) {
    font-size: remy(24px);
  }
  @media (max-width: 320px) {
    font-size: remy(18px);
  }
}
.header-subtitle {
  font-family: 'Meta Serif';
  font-size: remy(45px);
  font-weight: 600;
  color: #f0f7f7;
  line-height: 43px;
  @media (max-width: 992px) {
    font-size: remy(40px);
  }
  @media (max-width: 768px) {
    font-size: remy(28px);
  }
  @media (max-width: 480px) {
    font-size: remy(20px);
  }
  @media (max-width: 320px) {
    font-size: remy(16px);
  }
}
.heading-title2 {
  font-family: 'Meta Serif';
  font-size: remy(35px);
  font-weight: 500;
  color: #eff4f7;
  line-height: 35px;
  @media (max-width: 992px) {
    font-size: remy(30px);
  }
  @media (max-width: 768px) {
    font-size: remy(26px);
  }
  @media (max-width: 480px) {
    font-size: remy(18px);
  }
  @media (max-width: 320px) {
    font-size: remy(12px);
  }
}
.heading-title3 {
  font-family: 'Meta Serif';
  font-size: remy(45px);
  font-weight: 500;
  color: #eff4f7;
  line-height: 45px;
  @media (max-width: 992px) {
    font-size: remy(30px);
  }
  @media (max-width: 768px) {
    font-size: remy(26px);
  }
  @media (max-width: 480px) {
    font-size: remy(18px);
  }
  @media (max-width: 320px) {
    font-size: remy(12px);
  }
}
.remark {
  font-family: 'DIN Pro Regular';
  font-size: remy(17px);
  font-weight: 400;
  color: #555657;
  @media (max-width: 768px) {
    font-size: remy(12px);
  }
  @media (max-width: 480px) {
    font-size: remy(8px);
  }
  @media (max-width: 320px) {
    font-size: remy(6px);
  }
}
