.header {
  background: url(../img/bg.png) bottom center/cover no-repeat;
  background-size: auto;
  color: #f0f4f6;
  height: 790px;
}
.header-top {
  padding-top: 11px;
  margin-bottom: 10px;
}
.header-info {
  font-family: 'DIN Pro Regular';
  font-size: remy(22px);
  font-weight: 400;
  line-height: remy(21px);
}
.info-bold {
  color: #eef5f8;
  font-weight: 700;
  margin-top: 15px;
}
.header-navbar {
  background-color: $green;
}
.navbar-nav {
  width: 100% !important;
}
.nav-link {
  color: #f0f7fb;
  font-size: remy(20px);
  font-weight: 500;
  line-height: remy(20px);
}
.navbar-toggler-icon {
  background-color: #dadbdd;
}
.hero-content {
  height: 452px;
  margin-top: 100px;
  margin-bottom: 44px;
}
.header-title {
  font-family: 'Meta Serif';
  font-size: remy(60px);
  font-weight: 900;
  color: #eef4f7;
  @media (max-width: 768px) {
    font-size: remy(24px);
  }
  @media (max-width: 576px) {
    font-size: remy(18px);
  }
}
.header-subtitle {
  font-family: 'Meta Serif';
  font-size: remy(45px);
  font-weight: 600;
  color: #f0f7f7;
  @media (max-width: 768px) {
    font-size: remy(20px);
  }
  @media (max-width: 576px) {
    font-size: remy(16px);
  }
}
.heading-title2 {
  font-family: 'Meta Serif';
  font-size: remy(35px);
  font-weight: 500;
  color: #eff4f7;
  @media (max-width: 768px) {
    font-size: remy(18px);
  }
  @media (max-width: 576px) {
    font-size: remy(12px);
  }
}
.remark {
  font-family: 'DIN Pro Regular';
  font-size: remy(17px);
  font-weight: 400;
  color: #555657;
  @media (max-width: 768px) {
    font-size: remy(8px);
  }
  @media (max-width: 576px) {
    font-size: remy(6px);
  }
}
