.header {
  background: url(../img/bg-header.png) 100% 100%/cover no-repeat;
  color: #f0f4f6;
  height: 790px;
}
.header-top {
  margin-top: 11px;
  margin-bottom: 10px;
}
.header-navbar {
  background-color: $green;
}
.navbar-nav {
  width: 100% !important;
}
.nav-link {
  color: #f0f7fb;
  font-size: remy(20px);
  font-weight: 500;
  line-height: remy(20px);
}
.hero-content {
  height: 452px;
  margin-top: 100px;
  margin-bottom: 44px;
}
.header-title {
  font-family: 'Meta Serif';
  font-size: remy(60px);
  font-weight: 900;
  color: #eef4f7;
}
.header-subtitle {
  font-family: 'Meta Serif';
  font-size: remy(45px);
  font-weight: 600;
  color: #f0f7f7;
}
.heading-title2 {
  font-family: 'Meta Serif';
  font-size: remy(35px);
  font-weight: 500;
  color: #eff4f7;
}
.remark {
  font-family: 'DIN Pro Regular';
  font-size: remy(17px);
  font-weight: 400;
  color: #555657;
}
